useDynLib(symR, .registration=TRUE)

import(Matrix)
import(RcppGSL, except=c(fastLmPure, fastLm))
import(RcppParallel, except=c(LdFlags))
importFrom(Rcpp,evalCpp)


#export(dee_2_v_ij_dee_W_ik_dee_W_ik1)
#export(dee_v_ij_dee_W_ik)
#export(v_mat_R)

export(bloch)
export(performance)
export(symr)

