#exportPattern("^[[:alpha:]]+")
export("symR")
export("Bloch_eqn")
export("v_mat")
export("Performance_test")

useDynLib(symR)
#import(RcppEigen)
import(RcppGSL, except=c(fastLmPure, fastLm))
import(RcppParallel, except=c(LdFlags))
import(Matrix)
importFrom(Rcpp, evalCpp)

